:root {
    color-scheme: light;

    /* Base Colors */
    --color-bg: 245 239 229;
    --color-bg2: 249 242 231;
    --color-surface: 255 250 242;

    /* Background Colors */
    --color-bg-code: 236 240 243;

    /* Text Colors */
    --color-text: 35 24 15;
    --color-text-invese: 255 255 255;
    --color-muted: 106 86 69;

    --color-text-code: 34 29 24;

    /* Brand colors */
    --color-accent: 155 61 16;
    --color-accent-alt: 217 123 45;

    /* Borders */
    --color-border: 219 198 178;

    /* Alert */
    --color-highlight: #FAF3E8;

    --color-warning: #FCC;
    --color-warning-border: #FAA;

    --color-danger: #FCC;
    --color-danger-border: #FAA;
    --color-danger-shadow: #D52C2C;

    --color-error: #FCC;
    --color-error-border: #FAA;
    --color-error-shadow: #D52C2C;

    --color-caution: #FCC;
    --color-caution-border: #FAA;

    --color-attention: #FCC;
    --color-attention-border: #FAA;

    --color-important: #EEE;
    --color-important-border: #CCC;

    --color-note: #EEE;
    --color-note-border: #CCC;

    --color-tip: #EEE;
    --color-tip-border: #CCC;

    --color-hint: #EEE;
    --color-hint-border: #CCC;

    --color-see-also: #EEE;
    --color-see-also-border: #CCC;

    --color-topic: #EEE;

    /* Alpha */
    --alpha-full: 1.0;
    --alpha-near: 0.94;
    --alpha-raised: 0.92;
    --alpha-muted: 0.65;
    --alpha-medium: 0.45;
    --alpha-soft: 0.35;
    --alpha-subtle: 0.2;
    --alpha-subtle2: 0.18;
    --alpha-faint: 0.12;
    --alpha-ghost: 0.05;
}
